{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="{% url 'core:index' %}">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="#">Detail Product</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Blog Single -->
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="image">
                                <img src="https://via.placeholder.com/950x460" alt="#">
                            </div>
                            <div class="blog-detail">
                                <h2 class="blog-title">{{ product.title }}</h2>
                                <div class="blog-meta">
                                    <span class="author">
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            {{ product.user}}
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-comments"></i>Comment (15)
                                        </a>
                                    </span>
                                </div>
                                <div class="content">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="comments">
                                <h3 class="comment-title">Comments (3)</h3>
                                <!-- Single Comment -->
                                <div class="single-comment">
                                    <img src="https://via.placeholder.com/80x80" alt="#">
                                    <div class="content">
                                        <h4>Alisa harm <span>At 8:59 pm On Feb 28, 2018</span></h4>
                                        <p>Enthusiastically leverage existing premium quality vectors with
                                            enterprise-wide innovation collaboration Phosfluorescently leverage others
                                            enterprisee Phosfluorescently leverage.</p>
                                        <div class="button">
                                            <a href="#" class="btn"><i class="fa fa-reply"
                                                    aria-hidden="true"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Comment -->
                                <!-- Single Comment -->
                                <div class="single-comment left">
                                    <img src="https://via.placeholder.com/80x80" alt="#">
                                    <div class="content">
                                        <h4>john deo <span>Feb 28, 2018 at 8:59 pm</span></h4>
                                        <p>Enthusiastically leverage existing premium quality vectors with
                                            enterprise-wide innovation collaboration Phosfluorescently leverage others
                                            enterprisee Phosfluorescently leverage.</p>
                                        <div class="button">
                                            <a href="#" class="btn"><i class="fa fa-reply"
                                                    aria-hidden="true"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Comment -->
                                <!-- Single Comment -->
                                <div class="single-comment">
                                    <img src="https://via.placeholder.com/80x80" alt="#">
                                    <div class="content">
                                        <h4>megan mart <span>Feb 28, 2018 at 8:59 pm</span></h4>
                                        <p>Enthusiastically leverage existing premium quality vectors with
                                            enterprise-wide innovation collaboration Phosfluorescently leverage others
                                            enterprisee Phosfluorescently leverage.</p>
                                        <div class="button">
                                            <a href="#" class="btn"><i class="fa fa-reply"
                                                    aria-hidden="true"></i>Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Comment -->
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="reply">
                                <div class="reply-head">
                                    <h2 class="reply-title">Leave a Comment</h2>
                                    <!-- Comment Form -->
                                    <form class="form" action="#">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Name<span>*</span></label>
                                                    <input type="text" name="name" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Email<span>*</span></label>
                                                    <input type="email" name="email" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Your Message<span>*</span></label>
                                                    <textarea name="message" placeholder=""></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn">Post comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Comment Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="main-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget category">
                        {% if product.discount_price %}
                        <h5>
                            <span class="font-weight-light text-danger">
                                <del>Rp. {{ product.price|intcomma }}</del></span>
                            <span class="badge badge-warning">{{ product.discount_price }}%</span>
                        </h5>
                        {% endif %}
                        <h3>Rp. {{ product.get_price|intcomma }}</h3>

                        <a class="btn btn-warning text-white mt-5" href="">Add to cart
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Single Widget -->
                    <div class="single-widget side-tags">
                        <h3 class="title">Categories</h3>
                        <ul class="tag">
                            {% for category in category_list %}
                            <li>
                                <form action="{% url 'core:shop' %}" method="get">
                                    <input type="checkbox" name="category" hidden value="{{ category.id }}"
                                        class="check-input" checked>
                                    <button type="submit">
                                        <a>{{ category.name }}</a>
                                    </button>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Single -->
{% endblock %}