{% extends 'base.html' %}
{% load humanize %}
{% block content %}

{% include 'slider.html' %}

<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Item</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">

                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    {% for product in product_list %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="default-img" src="https://via.placeholder.com/550x750"
                                                        alt="#">
                                                    <img class="hover-img" src="https://via.placeholder.com/550x750"
                                                        alt="#">
                                                    {% if product.discount_price %}
                                                    <span class="price-dec">{{ product.discount_price }}%</span>
                                                    {% endif %}
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action-2">
                                                        <a title="Add to cart" href="#">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                </h3>
                                                <div class="product-price">
                                                    {% if product.discount_price %}
                                                    <smal class="text-danger small">
                                                        Rp. <del>{{ product.price|intcomma}}</del>
                                                    </smal>
                                                    {% endif %}
                                                    <span>Rp. {{ product.get_price|intcomma }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->
{% endblock %}